:root {
  /**
  FONTS
  **/
  --font-primary: 'Inter';
  --font-secondary: 'Space Grotesk';
  --font-backup: 'Arial';

  /**
  TYPOGRPAPHY
  **/
  --font-primary-weight: 500;
  --font-secondary-weight: 700;
  // sizes
  --font-body-xs: 12;
  --font-body-sm: 14;
  --font-body-md: 16;
  --font-body-lg: 18;
  // mobile sizes
  --font-body-mobile-md: 14;
  --font-body-mobile-lg: 16;
  // weights
  --font-body-thin-weight: 300;
  --font-body-regular-weight: 500;
  --font-body-semibold-weight: 600;
  --font-body-bold-weight: 700;

  /**
  AVATAR
  **/
  --color-avatar-bg: #e8effd;

  /**
  BUTTON
  **/
  --button-font-size: 1rem;
  --button-font-weight: 500;
  --button-border-radius: 12px;
  --button-border-stroke: 2px;
  --button-padding-large: 12px 18px;
  --button-padding-large-round: 18px;
  --button-padding-medium: 4px 8px;
  --button-padding-medium-round: 8px;
  --button-padding-small: 3px 6px;
  --button-padding-small-round: 6px;
  --button-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);

  /**
  COPY BUTTON
  **/
  --copy-button-font-size: 0.875rem;
  --copy-button-font-weight: 500;

  /**
  CHECKBOX
  **/
  --checkbox-label-font-size: 0.875rem;
  --checkbox-label-font-weight: 500;

  /**
  INPUTS
  **/
  --input-label-font-size: 0.875rem;
  --input-label-font-weight: 600;
  --input-font-size: 0.875rem;
  --input-info-font-size: 0.875rem;
  --input-border-radius: 12px;
  --input-padding: 12px;

  /**
  DROPDOWN
  **/
  --dropdown-margin-top: 12px;
  --dropdown-border-radius: 4px;

  /**
  BADGE
  **/
  --badge-font-size: 0.875rem;
  --badge-font-weight: 500;
  --badge-padding: 5px 12px;
  --badge-border-radius: 56px;

  /**
  RADIO
  **/
  --radio-label-font-size: 0.875rem;
  --radio-label-font-weight: 500;

  /**
  SWITCH
  **/
  --switch-font-weight: 500;

  /**
  TOOLTIP
  **/
  --tooltip-font-size: 0.875rem;
  --tooltip-font-weight: 500;
  --tooltip-width: 250px;

  /**
  PRIMARY INTERACTION
  **/
  --color-interaction-primary: #1700c7;
  --color-interaction-primary-hover: #0e0551;
  --color-interaction-primary-active: #170696;
  --color-interaction-primary-disabled: rgba(176, 176, 176, 0.5);
  --color-interaction-primary-alt: #ffffff;
  --color-interaction-primary-alt-hover: #e8effd;
  --color-interaction-primary-alt-active: #cbd8f0;
  --color-interaction-primary-alt-disabled: #e7e7e7;

  /**
  SECONDARY INTERACTION
  **/
  --color-interaction-secondary: #ffffff;
  --color-interaction-secondary-hover: #d3d3d3;
  --color-interaction-secondary-active: #ccccd1;
  --color-interaction-secondary-disabled: rgba(176, 176, 176, 0.5);
  --color-interaction-secondary-alt: #ffffff;
  --color-interaction-secondary-alt-hover: #e8e8e8;
  --color-interaction-secondary-alt-active: #d9d9d9;
  --color-interaction-secondary-alt-disabled: #e7e7e7;

  /**
  DELETE INTERACTION
  **/
  --color-interaction-delete: var(--color-semantic-critical);
  --color-interaction-delete-alt: var(--color-semantic-critical-bg-alt);
  --color-interaction-delete-hover: var(--color-semantic-critical-hover);
  --color-interaction-delete-active: var(--color-semantic-critical-active);
  --color-interaction-delete-disabled: var(--color-semantic-critical-disabled);
  --color-interaction-delete-alt-disabled: var(
    --color-semantic-critical-disabled
  );

  /**
  ALT INTERACTION
  **/
  --color-interaction-pos: var(--color-semantic-success);
  --color-interaction-pos-hover: var(--color-semantic-success-hover);
  --color-interaction-pos-active: var(--color-semantic-success-active);
  --color-interaction-pos-disabled: var(--color-semantic-success-disabled);
  --color-interaction-pos-alt: var(--color-text-reverse);
  --color-interaction-pos-alt-hover: var(--color-semantic-success-hover);
  --color-interaction-pos-alt-active: var(--color-semantic-success-disabled);
  --color-interaction-pos-alt-disabled: var(--color-semantic-success-disabled);

  /**
  SEMANTIC
  **/
  --color-semantic-info: #0073bd;
  --color-semantic-info-hover: #0068aa;
  --color-semantic-info-active: #005c97;
  --color-semantic-disabled: #a6a6a6;
  --color-semantic-success: #0c884c;
  --color-semantic-success-hover: #0b7a44;
  --color-semantic-success-active: #0a6d3d;
  --color-semantic-success-disabled: #a6a6a6;
  --color-semantic-warning: #e9a949;
  --color-semantic-warning-hover: #d29842;
  --color-semantic-warning-active: #a37633;
  --color-semantic-warning-disabled: #a6a6a6;
  --color-semantic-critical: #d32947;
  --color-semantic-critical-hover: #be2540;
  --color-semantic-critical-active: #a92139;
  --color-semantic-critical-disabled: #a6a6a6;
  --color-semantic-critical-bg-alt: #f9e1e5;
  --color-semantic-neutral: #b8b8b8;
  --color-semantic-neutral-hover: #a6a6a6;
  --color-semantic-neutral-active: #939393;
  --color-semantic-neutral-inactive: #a6a6a6;

  /**
  TEXT
  **/
  --color-text-main: #000000;
  --color-text-subtle: #757575;
  --color-text-reverse: #ffffff;
  --color-text-reverse-subtle: #e7e7e7;
  --color-text-disabled: #b0b0b0;
  --color-text-info: #0073bd;
  --color-text-success: #0c884c;
  --color-text-warning: #e9a949;
  --color-text-critical: #d32947;

  /**
  BORDER
  **/
  --color-border-1: #e6e6e6;
  --color-border-2: #cacaca;
  --color-border-3: rgba(202, 202, 202, 0.2);

  /**
  NEUTRALS
  **/
  --color-neutral-0: #ffffff;
  --color-neutral-0-reverse: #000000;
  --color-neutral-1: #f5f5f5;
  --color-neutral-2: #ededed;
  --color-neutral-3: #e7e7e7;

  /**
  STATUS
  **/
  --color-status-ready: #7ed320;
  --color-status-offline: #ada7a8;
  --color-status-busy: #f19b53;

  /**
  BACKGROUNDS
  **/
  --color-background-overlay: rgba(23, 10, 122, 0.4);
  --color-background-subtle-callout: #e8effd;
  --color-background-modal-overlay: rgba(0, 0, 0, 0.3);
  --color-background-critical: #f9e1e5;
  --color-background-neutral-0: #ffffff;

  /**
  MENU
  **/
  --color-interactions-menu: #000000;
  --color-interactions-menu-hover: #2f2f2f;
  --color-interactions-menu-inactive: #757575;

  /**
  Badge
  **/
  --color-badge-primary-bg: #000000;
  --color-badge-primary-text: #ffffff;
  --color-badge-secondary-bg: #ffffff;
  --color-badge-secondary-text: #000000;

  /**
  BUTTON
  **/
  --copy-button-text-color: #757575;
}
